*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body */
.hero{
    background-image: url('image/bgimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: rgb(51, 141, 39);
}
.project{
      margin-top: 15px;
      width: 100%;
      overflow: hidden;
}

.project-item{
    border: 1px solid black;
    height: 200px;
    width: 32.5%;
    margin-right: 5px; 
    margin-left: 5px;
    margin-bottom: 10px;
    float: left;

}

/* Footer section */
.footer{
    height:150px;
    background-color: rgb(105, 140, 168);
}

.footer-item{
    width:33%;
    float: left;

}
.link{
    text-decoration: none;
    color: beige;
    display: block;
    margin-top: 3px;
}

/* CSS for device responsive */
/* 
@media screen and (max-width: 1100px){
    .hero{
        color:azure;

    }
}
@media screen and (max-width:700px) {
    
    .hero {
        height:200px;

    }
}

@media screen and (max-width:700px) {
    
    .hero {
        height:200px;

    }
} */


@media screen and (max-width: 1100px){

    .hero{
        color: white;
    }
}

@media screen and (max-width: 800px) {
    
    .hero{
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    
    .hero{
        height: 200px;
    }
}


@media screen and (max-width: 1200px) {
    
    .project-item{
        width: 32%;
    }
}

@media screen and (max-width: 750px) {
    
    .project-item{
        width: 31.5%;
    }
}

/* @media screen and (max-width: 544px) {
    
    .project-item{
        width: 30.7%;
    }
} */

@media screen and (max-width: 700px) {
    
    .project-item{
        width: 48.5%;
    }
}

@media screen and (max-width: 666px) {
    
    .project-item{
        width: 48%;
    }
}

@media screen and (max-width: 550px) {
    
    .project-item{
        width: 98%;
    }
}

@media screen and (max-width: 690px) {
    
    .footer-mid{
        padding-left: 30px;
    }
}

@media screen and (max-width: 376px) {
    
    .footer-item{
        width: 100%;
        margin-bottom: 10px;
        padding-left: 85px;
    }

}